.meme-editor {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.editor-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.canvas-container {
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.canvas-container canvas {
    max-width: 100%;
    height: auto;
    background-color: white;
}

 
.hidden {
    display: none !important;
}