.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.nav-links button:hover {
    color: var(--button-hover);
}

.nav-left .logo {
    height: 50px;
}

.nav-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-right li {
    margin: 0 1rem;
}

.nav-right button {
    background: none;
    border: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

.nav-right button:hover {
    text-decoration: underline;
}

.btn-toggle-menu {
    display: none;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}


.menu-open .nav-links {
    transform: translateY(0);
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.line {
    display: block;
    height: 3px;
    width: 30px;
    background: var(--text-color);
    transition: all 0.3s ease;
}

.menu-open .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-open .line2 {
    opacity: 0;
}

.menu-open .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

